<!DOCTYPE html>
<html>
    <head>
        <title>EP - {%block nosaukums %} Index lapa {% endblock %}</title>
    </head>
    <body>
        <a href="/">Sākums</a>
        <a href="teksts">Teksts</a>
        <h1>Zesty nidzer</h1>
        {% block saturs %}
        <p>Hello world</p>
        {% endblock %}

        {% block img %}
        <img src="https://ih1.redbubble.net/image.4070816574.3653/st,small,507x507-pad,600x600,f8f8f8.jpg" height="500" width="1000">
        {% endblock %}
    
        <body>
        </html>

